{% extends 'base.html.twig' %}

{% block body %}
    <div class="well" style="text-align:center; max-width:300px; margin:10px auto">
        {{ form_start(AwatarType) }}
        {{ form_widget(AwatarType.awatar) }}
        {{ form_widget(AwatarType.Zapisz, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_end(AwatarType) }}
    </div>
{% endblock %}